body {
  background-color: darkseagreen;
}
.App {
  background-color: darkviolet;
  min-height: 500px;
  width: 350px;
  margin: 80px auto;
  border-radius: 10px;
}
.submit-bar {
  background-color: deeppink;
  width: 200px;
  min-height: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px;
  color: beige;
  margin: 20px;
  border-radius: 10px;
}
.submit-bar::placeholder {
  color: beige;
}
.submit-btn {
  background-color: tomato;
  border: none;
  outline: none;
  width: 80px;
  min-height: 65px;
  border-radius: 5px;
  font-size: 20px;
  color: beige;
  cursor: pointer;
}
.todo-list {
  list-style-type: none;
  font-size: 20px;
  padding: 1em;
}
.todo-items {
  background-color: plum;
  display: flex;
  text-align: left;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.delete {
  text-decoration: none;
  margin-left: auto;
  /* background-color: teal; */
  opacity: 0.5;
}
a:hover {
  opacity: 0.9;
}
